<div class="row">
<div class="col-xs-12">
<h1>Create a new profile</h1>
</div>

<div class="col-xs-12">
  <form name="create-post" action="/profile" method="post">
  <div class="form-group">
    <label>email</label>
    <input type="text" name="email" placeholder="email">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</div>